@font-face {
  font-family: PJSB;
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: PJSEL;
  src: url(../fonts/PlusJakartaSans-ExtraLight.ttf);
}

@font-face {
  font-family: PJSELI;
  src: url(../fonts/PlusJakartaSans-ExtraLightItalic.ttf);
}

@font-face {
  font-family: PJSL;
  src: url(../fonts/PlusJakartaSans-Light.ttf);
}

@font-face {
  font-family: PJSM;
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: PJSR;
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  /* width */
  /* Track */
  /* Handle */
}

* a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #ffffff25;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, #343434), to(#000000));
  background: linear-gradient(180deg, #343434 0.01%, #000000 100%);
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
  font-size: calc(20px + .1vw);
  font-family: PJSR;
  position: relative;
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.message-bar.active {
  height: 10vh;
  opacity: 1;
}

.message-bar.pass {
  background-color: #559820;
}

.message-bar.fail {
  background-color: #C52D2D;
}

.message-bar .message-container {
  overflow-y: auto;
  padding: 1em;
}

.message-bar .message-container.centered-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message-bar .message-close-btn-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 1em;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.message-bar .message-close-btn-container.active {
  opacity: 1;
  pointer-events: auto;
}

.message-bar .message-close-btn-container:hover {
  -webkit-transition: 0s;
  transition: 0s;
  background-color: rgba(255, 255, 255, 0.2);
}

.message-bar .message-close-btn-container img {
  width: calc(25px + .1vw);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  margin: 15px 15px 0 0;
}

.main-container {
  height: 100%;
  padding: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
}

.main-container .threesys-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(30px + .1vw);
}

.main-container .threesys-header span:nth-of-type(1) {
  font-family: PJSB;
}

.main-container .threesys-header span:nth-of-type(2) {
  font-family: PJSELI;
}

.main-container .threesys-header span:nth-of-type(3) {
  font-family: PJSEL;
}

.main-container .pages-and-main-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-container .pages-and-main-container .main {
  width: 100%;
  height: 100%;
}

.main-container .pages-and-main-container .main .main-sub-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-container .pages-and-main-container .main .main-sub-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5em;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .choices .choice-label {
  font-size: calc(30px + .1vw);
  font-family: PJSEL;
  margin-bottom: 1em;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .choices .choice {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: calc(70px + .1vw);
  font-family: PJSR;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .choices .choice.deactivate {
  -webkit-transform: scale(0.5) translateX(-50%);
          transform: scale(0.5) translateX(-50%);
  opacity: .1;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .choices .choice::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #88888825;
  -webkit-transition: .2s;
  transition: .2s;
  pointer-events: none;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .choices .choice:hover::after {
  width: 100%;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms {
  width: 100%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms form {
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-5vh);
          transform: translateY(-5vh);
  -webkit-transition: .2s .05s;
  transition: .2s .05s;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms form.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms form:nth-of-type(1) div {
  margin-bottom: 1em;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms form:nth-of-type(1) div label {
  margin-right: 1em;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms input {
  color: #ffffff;
  font-size: calc(20px + .1vw);
  font-family: PJSEL;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms label {
  color: #ffffff;
  font-size: calc(20px + .1vw);
  font-family: PJSEL;
  white-space: nowrap;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms .file-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(375px + .1vw);
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms input[type="file"] {
  display: none;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms input[type="text"] {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: .3em 0;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms input[type="submit"], .main-container .pages-and-main-container .main .main-sub-container .nav .forms label:not(#label-exception) {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: .5em 1.5em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 999999px;
  border: 1px solid #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-container .pages-and-main-container .main .main-sub-container .nav .forms input[type="submit"]:hover, .main-container .pages-and-main-container .main .main-sub-container .nav .forms label:not(#label-exception):hover {
  -webkit-transition: 0s;
  transition: 0s;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

.main-container .pages-and-main-container .main .main-sub-container .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-close-btn-container {
  -ms-flex-item-align: end;
      align-self: end;
  margin-bottom: 2em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-close-btn-container:hover {
  -webkit-transition: 0s;
  transition: 0s;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-close-btn-container img {
  width: calc(25px + .1vw);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-disclaimer span:nth-of-type(1) {
  font-size: calc(23px + .1vw);
  font-family: PJSB;
  margin-bottom: 2em;
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-disclaimer span:nth-of-type(2) {
  font-size: calc(20px + .1vw);
  margin-bottom: .75em;
  font-family: PJSR;
}

.main-container .pages-and-main-container .main .main-sub-container .download .download-disclaimer span:nth-of-type(3) {
  font-size: calc(17px + .1vw);
  font-family: PJSEL;
  margin-bottom: 3em;
}

.main-container .pages-and-main-container .main .main-sub-container .download .downloadable {
  font-size: calc(30px + .1vw);
  font-family: PJSB;
  text-transform: uppercase;
  cursor: pointer;
  color: #046ED0;
  border: 3px solid #046ED0;
  border-radius: 999999px;
  padding: 1em 3em;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-container .pages-and-main-container .main .main-sub-container .download .downloadable:hover {
  -webkit-transition: 0s;
  transition: 0s;
  color: #000000;
  background-color: #046ED0;
}

.main-container .pages-and-main-container .main .main-sub-container .loading {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .pages-and-main-container .main .main-sub-container .loading span {
  margin-bottom: 1em;
  font-size: calc(20px + .1vw);
  font-family: PJSEL;
  text-align: center;
}

.main-container .pages-and-main-container .main .main-sub-container .movable {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-container .pages-and-main-container .main .main-sub-container .movable.active {
  opacity: 1;
  pointer-events: auto;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ffffff;
  -webkit-animation: lds-grid 2s linear infinite;
          animation: lds-grid 2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

@-webkit-keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
/*# sourceMappingURL=styles.css.map */